<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TODO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input [(ngModel)]="myTodo" type="text" placeholder="What to do ?"></ion-input>
    <ion-button color="success" (click)="addTodo()">Add</ion-button>
  </ion-item>
  
  <ion-list>
    <ion-list-header>
      <h4>Incomplete Tasks</h4>
    </ion-list-header>
    <ion-item *ngFor="let todo of todos; let i = index">
      <ion-button color="light" (click)="okTodo(i)">OK</ion-button>
      {{todo}}
      <ion-button color="danger" slot="end" (click)="delTodo(i)">X</ion-button> 
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-list-header>
      <h4>Completed Tasks</h4>
    </ion-list-header>
    <ion-item *ngFor="let done of dones; let i = index">
      {{done}}
      <ion-button color="danger" slot="end" (click)="delDone(i)">X</ion-button>
    </ion-item>
  </ion-list>

</ion-content>